{% extends "layout.twig" %}

{%  block content %}
    <h1>Me Contacter</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci beatae consectetur culpa deleniti, dignissimos distinctio doloribus et excepturi facilis id laboriosam maxime omnis possimus quasi quis, repellendus sit!</p>

    {% if flash.success %}
        <div class="alert alert-success">
            {{ flash.success }}
        </div>
    {% endif %}

    {% if flash.error %}
        <div class="alert alert-danger">
            {{ flash.error }}
        </div>
    {% endif %}

    <form action="{{ path_for('contact') }}" method="post">
        <div class="form-group {% if flash.errors.name %} has-error {% endif %}">
            <label for="name">Votre nom</label>
            <input type="text" name="name" class="form-control" id="name" value="{{ old.name }}" required>
            {% if flash.errors.name %}
                <span class="help-block">{{ flash.errors.name }}</span>
            {% endif %}
        </div>
        <div class="form-group {% if flash.errors.email %} has-error {% endif %}">
            <label for="email">Votre Email</label>
            <input type="email" name="email" class="form-control" id="email" value="{{ old.email }}" required>
            {% if flash.errors.email %}
                <span class="help-block">{{ flash.errors.email }}</span>
            {% endif %}
        </div>
        <div class="form-group {% if flash.errors.content %} has-error {% endif %}">
            <label for="content">Votre message</label>
            <textarea name="content" class="form-control" id="content" required>{{ old.content }}</textarea>
            {% if flash.errors.content %}
                <span class="help-block">{{ flash.errors.content }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
    </form>

{% endblock %}
